<%- include("partials/header") -%>

<section id="main-navbar">

  <nav class="navbar navbar-expand-lg fixed-top">
 <div class="container-fluid">
   <a class="navbar-brand" href="#"><strong><img src="images/angel.png" alt="">Doctors</strong></a>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav ms-auto">
       <li class="nav-item">
         <!-- <a  class="btn btn-md btn-light btn-signupamb btn-signpamb btn-amb">SignUp</a> -->
         <!-- <a  class="btn btn-md btn-light btn-search-driver btn-amb">Search Drivers </a> -->

         <!-- <a  class="btn btn-md btn-light btn-delete-prof btn-amb">Delete Profile </a> -->
         <a href="/mainpage" class="btn btn-md btn-light btn-goback" type="button" name="button"><strong>Go Back</strong></a>
       </li>
     </ul>
   </div>
 </div>
</nav>
</section>

<section id="ambulance">
    <div class="row">
      <div class="col-sm-6">
          <p>For Ambulace Drivers</p>
          <h1><strong>Contact the abmulace drivers in emergency situations.</strong> </h1>
          <p class="para">You can book or dirctly call the ambulance, also you could have post your profile by creating your account</p>
      </div>
      <div class="col-sm-6">


        </div>




</section>

<section id="signupamb">
          <form class="form-signup" action="/signupamb" method="post">
              <h3 class="h3-register"><strong>Sign Up Here!</strong> </h3>
            <input type="text" name="name1" placeholder="User Name" onkeydown="return /[a-zA-Z]/i.test(event.key)" required> <br>
            <input class="password" type="password" id="passwordInput" name="password1" maxlength="10" placeholder="Password" required>
            <span class="password-toggle" onclick="togglePasswordVisibility()"> <i id="icon" class="fa-sharp fa-solid fa-eye"></i></span>
            <input type="email" name="email" placeholder="Email ID" pattern=".+@globex\.com" required>
            <button class="btn btn-md btn-light btn-register" type="submit" name="button">Create An Account</button>
            <p>Already Have An Account?</p>

            <button class="btn btn-md btn-light btn-go-back-login" type="button">Go To Login</button>
          </form>
</section>

<section id="loginamb">
        <form class="form-login" action="/loginAmbulance" method="post">
          <h3 class="h3-login"><strong>Login Here!</strong> </h3>
          <input type="text" name="name2" placeholder="User Name" onkeydown="return /[a-zA-Z]/i.test(event.key)" required>
          <input type="password" id="passwordInput1" name="password2" placeholder="Password" maxlength="10" required> <br>
          <span class="password-toggle1" onclick="togglePasswordVisibility1()"> <i id="icon1" class="fa-sharp fa-solid fa-eye"></i></span>

          <br>
          <button class="btn btn-md btn-light btn-login" type="submit" name="button">login</button> <br>
          <br>
            <button class="a" id="ambpassword">Forgot Password?</button> <br>
          <p>Don't Have An Account?</p>
          <button class="btn btn-md btn-light btn-go-signup" type="button" name="button">signup</button>
</form>
</section>

<section id="img-part-ambulance">
   <img src="images/ambulance.png" alt="">
</section>

<section id="forgot-password-amb">
<div class="container form-password">
<form action="recoverAmbPassword" method="post">
<h3 class="h3-login"><strong>Recover Password!</strong> </h3>
<input type="text" name="email" placeholder="Email ID" required> <br>
<!-- <input type="password" name="password"placeholder="New Password" required> <br> -->
<button type="submit" class="btn btn-light btn-submit" name="button">Submit</button> <br>
<button type="button" class="btn btn-light btn-gologin" name="button">Go To Login</button> <br>
</form>

</div>

</section>


<%- include("partials/footer") -%>
