<%- include("partials/header") -%>



<section id="main-navbar">

  <nav class="navbar navbar-expand-lg fixed-top">
 <div class="container-fluid">
   <a class="navbar-brand" href="#"><img src="images/angel.png" alt=""><strong>Doctors</strong></a>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav ms-auto">
       <li class="nav-item">
         <!-- <a href="" class="btn btn-md btn-light btn-msg" type="button"><strong>About Us</strong> </a> -->
         <a href="/login" class="btn btn-md btn-light btn-finddoc" type="button" name="button"><strong> Login<i class="fa-solid fa-right-to-bracket"></i> </strong></a>
       </li>
     </ul>
   </div>
 </div>
</nav>

</section>

<section id="main-image">

<div class="row">
  <div class="col-lg col-6">
    <h1><strong><span id="words">Doctors Is  The Best Health Care website.</span></strong></h1>
    <br>

  </div>
  <div class="col-md col-6">
     <img src="images/doctor1.png">
  </div>

</div>


<p class="p">Send message to the admin ,</p>
<input  class="btn-msg-input" type="email" name="Email" placeholder="Your Email ID">
<button type="button" class="btn btn-sm btn-light btn-msg"name="button">Send Messege</button>


</section>

<section id="main1">

  <p><span id="words1">You can easly get to know about the doctors near your home and also you can book your appointment online.</span></p>
   <br>

</section>

<%- include("partials/footer") -%>
